{% extends 'base/base.html' %}
{% block title %} Nuevo usuario {% endblock %}
{% block content %}

<div class="box box-default">
    <div class="box-header with-border">
        <i class="fa fa-user-plus fa-fw"></i>
        <h3 class="box-title"> Listado de usuarios registrados</h3>
    </div>
    <div class="box-body">
        <div class="list">
            <div class="row header-list" align="center">
                <div class="col-lg-2">
                    Nombre de causa
                </div>
                <div class="col-lg-1">
                    N° de Rol
                </div>
                <div class="col-lg-2">
                    Cliente
                </div>
                <div class="col-lg-2">
                    Fecha inicio y termino
                </div>
                <div class="col-lg-2">
                    Instancia
                </div>
                <div class="col-lg-2">
                    Demandado
                </div>
            </div>
            {% for foo in casos %}
            <div class="row body-list modal-down" align="center">
                <div class="col-lg-2">
                    {{ foo.nombre_caso }}
                </div>
                <div class="col-lg-1">
                    {{ foo.n_rol_tibunal }}
                </div>
                <div class="col-lg-2">
                    <b>{{ foo.solicitud.cliente.rut }}</b> <br> {{ foo.solicitud.cliente.nombre }}
                </div>
                <div class="col-lg-2">
                    {{ foo.fecha_inicio }} <br> {{ foo.fecha_termino }}
                </div>
                <div class="col-lg-2">
                    {{ foo.instancia }}
                </div>
                <div class="col-lg-2">
                    <b>{{ foo.solicitud.demandado_rut }}</b> <br> {{ foo.solicitud.demandado_nombre }}
                </div>
                <div class="col-lg-1">
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget=""><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}