{% extends 'base/base.html' %}{% load staticfiles %}
{% block title %} Nuevo usuario {% endblock %}
{% block ccs %}

  <link rel="stylesheet" href="{% static 'bootstrap-daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock ccs %}
{% block content %}

<div class="box box-default">
    <div class="box-header with-border">
        <i class="fa fa-user-plus fa-fw"></i>
        <h3 class="box-title"> Por favor, llenar formulario de nuevo caso juridico.</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-lg-12">
                <h4>Solicitud</h4>
            </div>
            <div class="col-lg-2">
                <label for="">Cliente:</label>
                <p>{{ solicitud.cliente.nombre }}</p>
            </div>
            <div class="col-lg-2">
                <label for="">Rut:</label>
                <p>{{ solicitud.cliente.rut }}</p>
            </div>
            <div class="col-lg-2">
                <label for="">Tema Juridico:</label>
                <p title="{{ solicitud.tema_juridico.materia }}">{{ solicitud.tema_juridico.nombre_tema }}</p>
            </div>
            <div class="col-lg-2">
                <label for="">Fecha solicitud:</label>
                <p title="">{{ solicitud.fecha_creacion|date:'d - M - Y' }}</p>
            </div>
            <div class="col-lg-2">
                <label for="">Demandado:</label>
                <p title="">{{ solicitud.demandado_nombre }}, <b>{{ solicitud.demandado_rut }}</b></p>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <form action="#" method="post">
            {% csrf_token %}
            <div class="row">
                 <div class="col-lg-4 col-xs-12">
                     <label for="id_nombre_caso">Nombre del caso </label>
                    <input type="text" class="form-control" name="nombre_caso" maxlength="40" required id="id_nombre_caso" />
                </div>
                 <div class="col-lg-4 col-xs-12">
                     <label for="id_n_rol_tibunal">Numero Rol Tribunal:</label>
                     <input type="text" class="form-control" autocomplete="off" name="n_rol_tibunal" maxlength="80" required id="id_n_rol_tibunal" />
                 </div>
                 <div class="col-lg-4 col-xs-12">
                     <div class="form-group">
                         <label for="reservation">Fecha inicio y termino:</label>

                         <div class="input-group">
                             <div class="input-group-addon">
                             <i class="fa fa-calendar"></i>
                             </div>
                             <input type="text" name="fechas" class="form-control pull-right" id="reservation">
                         </div>
                        <!-- /.input group -->
                     </div>
                 </div>
                 <div class="col-lg-4 col-xs-12">
                     <label for="id_instancia">Instancia:</label>
                     <input type="text" class="form-control" name="instancia" maxlength="100" required id="id_instancia" />
                 </div>
            </div>

            <div align="right">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="reset" class="btn btn-default">Borrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'moment/min/moment.min.js' %}"></script>
<script src="{% static 'bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script>
  $(function () {
    $('#reservation').daterangepicker()
  })
</script>
{% endblock js %}