{% extends 'base/base.html' %}{% load staticfiles %}
{% block ccs %}
  <!-- fullCalendar -->
  <link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'fullcalendar/dist/fullcalendar.print.min.css' %}" media="print">


  <link rel="stylesheet" href="{% static 'select2/dist/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-daterangepicker/daterangepicker.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock ccs %}
{% block content %}
      <div class="row">
        <!-- /.col -->
          <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body no-padding">
              <div class="row">
                  <div class="col-md-8 col-xs-12">
                    <div id="calendar"></div>
                  </div>
                  <div class="col-md-4 col-xs-12" style="">
                    <div class="col-lg-12 col-xs-12" align="center">
                        <h4>Agregar reunion</h4>
                    </div>
                        <form action="" method="post">
                  {% csrf_token %}
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-group">
                        <label>Fecha y hora de reunion:</label>

                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                          </div>
                          <input name="fechas" type="text" class="form-control pull-right" id="fechas">
                        </div>
                        <!-- /.input group -->
                      </div>
                    </div>
                    <div class="col-lg-12 col-xs-12">
                        <label for="id_tema_reunion">Tema reunion:</label>
                        <input class="form-control" type="text" onkeyup="add_color(false)" name="tema_reunion" maxlength="30" required id="id_tema_reunion" />
                    </div>
                    <div class="col-lg-12 col-xs-12">
                        <label for="id_color">Color:</label>
                        <ul class="fc-color-picker" id="color-chooser">
                          <li><a class="text-aqua" href="" onclick="add_color('00c0ef')"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-blue" href="#" onclick="add_color('0073b7')"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-light-blue" href="#" onclick="add_color('3c8dbc')"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-teal" href="#" onclick="add_color('39cccc')"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-yellow" href="#" onclick="add_color('f39c12')"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-red" href="#" onclick="add_color('dd4b39')"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-purple" href="#" onclick="add_color('605ca8')"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-fuchsia" href="#" onclick="add_color('f012be')"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-muted" href="#" onclick="add_color('777777')"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-navy" href="#" onclick="add_color('001f3f')"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-black" href="#" onclick="add_color('111111')"><i class="fa fa-square"></i></a></li>
                        </ul>
                    </div>
                    <input hidden name="color" id="id_color">

                    <div class="col-lg-12 col-xs-12">
                        <label for="id_observacion">Observacion:</label>
                        <textarea name="observacion" id="id_observacion" class="form-control" rows="6"></textarea>
                    </div>
                    <div class="col-lg-12 col-xs-12">
                        <label for="id_caso_juridico">Asignar caso juridico:</label>
                        <select name="caso_juridico" id="id_caso_juridico" class="form-control">
                            <option value="0">Sin Caso</option>
                            {% for foo in casos %}
                            <option value="{{ foo.id }}">{{ foo.solicitud.cliente.nombre }} <b>{{ foo.solicitud.cliente.rut }}</b> -{{ foo.nombre_caso }} - {{ foo.n_rol_tibunal }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <label for="">Vista Previa</label>
                        <div id="demo" class="demo_calendario">
                            Vista Previa
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12" align="center">
                        <input class="btn btn-default" type="submit" value="Agregar" style="margin-top: 40px">
                    </div>
              </form>
                  </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
{% endblock content %}
{%  block js %}
<script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'moment/moment.js' %}"></script>
<script src="{% static 'fullcalendar/dist/fullcalendar.min.js' %}"></script>
<script>
  $(function () {

    /* initialize the external events
     -----------------------------------------------------------------*/
    function init_events(ele) {
      ele.each(function () {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

    init_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)


      {% for foo in calendario %}

        console.log('{{ ll.fecha_inicio }}')
      {% endfor %}
    $('#calendar').fullCalendar({
      header    : {
        left  : 'prev,next today',
        center: 'title',
        right : 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        today: 'Hoy',
        month: 'Mes',
        week : 'Semana',
        day  : 'Dia'
      },
      //Random default events

      events    : [
          {% for ll in calendario %}
        {
          title          : '{{ ll.tema_reunion }}',
          start          : new Date(
              '{{ ll.fecha_inicio.ano }}',
              '{{ ll.fecha_inicio.mes }}',
              '{{ ll.fecha_inicio.dia }}',
              '{{ ll.fecha_inicio.hora }}',
              '{{ ll.fecha_inicio.minuto }}'
          ),
          end            : new Date(
              '{{ ll.fecha_final.ano }}',
              '{{ ll.fecha_final.mes }}',
              '{{ ll.fecha_final.dia }}',
              '{{ ll.fecha_final.hora }}',
              '{{ ll.fecha_final.minuto }}'
          ),
          url            : '{% url 'detallereunion' ll.id %}',
          backgroundColor: '#{{ ll.color }}', //yellow
          borderColor    : '#{{ ll.color }}' //yellow
        },
          {% endfor %}
         /*,
        {
          title          : 'Meeting',
          start          : new Date(y, m, d, 10, 30),
          allDay         : false,
          backgroundColor: '#0073b7', //Blue
          borderColor    : '#0073b7' //Blue
        },
        {
          title          : 'Lunch',
          start          : new Date(y, m, d, 12, 0),
          end            : new Date(y, m, d, 14, 0),
          allDay         : false,
          backgroundColor: '#00c0ef', //Info (aqua)
          borderColor    : '#00c0ef' //Info (aqua)
        },
        {
          title          : 'Birthday Party',
          start          : new Date(y, m, d + 1, 19, 0),
          end            : new Date(y, m, d + 1, 22, 30),
          allDay         : true,
          backgroundColor: '#00a65a', //Success (green)
          borderColor    : '#00a65a' //Success (green)
        },
        {
          title          : 'Click for Google',
          start          : new Date(y, m, 30),
          end            : new Date(y, 2, 29),
          url            : 'http://google.com/',
          backgroundColor: '#3c8dbc', //Primary (light-blue)
          borderColor    : '#3c8dbc' //Primary (light-blue)
        }*/
      ],
      editable  : true,
      droppable : true, // this allows things to be dropped onto the calendar !!!
      drop      : function (date, allDay) { // this function is called when something is dropped

        // retrieve the dropped element's stored Event Object
        var originalEventObject = $(this).data('eventObject')

        // we need to copy it, so that multiple events don't have a reference to the same object
        var copiedEventObject = $.extend({}, originalEventObject)

        // assign it the date that was reported
        copiedEventObject.start           = date
        copiedEventObject.allDay          = allDay
        copiedEventObject.backgroundColor = $(this).css('background-color')
        copiedEventObject.borderColor     = $(this).css('border-color')

        // render the event on the calendar
        // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true)

        // is the "remove after drop" checkbox checked?
        if ($('#drop-remove').is(':checked')) {
          // if so, remove the element from the "Draggable Events" list
          $(this).remove()
        }

      }
    })

    /* ADDING EVENTS */
    var currColor = '#3c8dbc' //Red by default
    //Color chooser button
    var colorChooser = $('#color-chooser-btn')
    $('#color-chooser > li > a').click(function (e) {
      e.preventDefault()
      //Save color
      currColor = $(this).css('color')
      //Add color effect to button
      $('#add-new-event').css({ 'background-color': currColor, 'border-color': currColor })
    })
    $('#add-new-event').click(function (e) {
      e.preventDefault()
      //Get value and make sure it is not null
      var val = $('#new-event').val()
      if (val.length == 0) {
        return
      }

      //Create events
      var event = $('<div />')
      event.css({
        'background-color': currColor,
        'border-color'    : currColor,
        'color'           : '#fff'
      }).addClass('external-event')
      event.html(val)
      $('#external-events').prepend(event)

      //Add draggable funtionality
      init_events(event)

      //Remove event from text input
      $('#new-event').val('')
    })
  })
</script>
<script src="{% static 'moment/min/moment.min.js' %}"></script>
<script src="{% static 'bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script>
$(function() {
    $('input[name="fechas"]').daterangepicker({
        timePicker: true,
        timePickerIncrement: 5,

        "timePicker24Hour": true,
        locale: {
            format: 'MM/DD/YYYY h:mm A'
        }
    });
});
function add_color(color) {
    if (color) {
        document.getElementById("id_color").value = color;
        obj = document.getElementById('demo');
        obj.style.backgroundColor = '#' + color;
        console.log(document.getElementById("id_tema_reunion").value);
        if (!document.getElementById("id_tema_reunion").value){
            document.getElementById('demo').innerHTML = "Vista Previa"
        }
    }
    document.getElementById('demo').innerHTML = document.getElementById("id_tema_reunion").value;
}
</script>
<script src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
    <script type="application/javascript">
    $(document).ready(function() {
        $('#id_caso_juridico').select2();
    });
</script>
{% endblock js %}